body {
  font-family: "Barlow", Arial;
  font-size: 1.2rem;
}

ul {
  list-style-type: none;
  padding: 0;
  font-size: 1rem;
}

footer {
  text-align: center;
}

h1 {
  text-align: center;
  font-size: 4rem;
}

.grid {
  display: flex;
  flex-direction: column;
}

.add-list {
  padding: 1rem;
  text-align: center;
}

.thirteen {
  position:relative; 
  font-size:20px; 
  font-weight:700;  
  letter-spacing:0px; 
  text-transform:uppercase; 
  width:150px;
  margin:auto; 
  white-space:nowrap; 
  border:2px solid #222222;
  padding:5px 11px 3px 11px;
}

li.done {
  text-decoration: line-through;
}

.button-38 {
  background-color: #FFFFFF;
  border: 0;
  border-radius: .5rem;
  box-sizing: border-box;
  color: #111827;
  font-family: "Inter var",ui-sans-serif,system-ui,-apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  font-size: .875rem;
  font-weight: 600;
  line-height: 1.25rem;
  padding: .5rem 0.75rem;
  margin: 0.2rem 1rem 0.2rem 0.2rem;
  text-align: center;
  text-decoration: none #D1D5DB solid;
  text-decoration-thickness: auto;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-38:hover {
  background-color: rgb(249,250,251);
}

.button-38:focus {
  outline: 2px solid transparent;
  outline-offset: 2px;
}

.button-38:focus-visible {
  box-shadow: none;
}

.input-style {
  padding: 6px 12px;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  appearance: none;
  border-radius: 4px;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
               
.input-style:focus{
    color: #212529;
    background-color: #fff;
    border-color: #86b7fe;
    outline: 0;
    box-shadow: 0 0 0 0.25rem rgb(13 110 253 / 25%);
}



@media only screen 
        and (device-width: 428px) 
        and (device-height: 926px) 
        and (-webkit-device-pixel-ratio: 3) { 

    body, ul {
      font-size: 1.5rem;
    }

    .add-list {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    .add-list button {
      margin-top:1rem;
      padding: 1rem;
      font-size: 1.5rem;

    }

    .input-style {
      font-size: 1.5rem;
    }
  }


